<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%=user.name%></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<div class="row">
  <div class="col-3">
    <div class="card">
      <img
        src="https://www.w3schools.com/bootstrap4/img_avatar1.png"
        alt=""
        class="card-img-top"
      />
      <div class="card-body">
        <h2 class="card-title"><%=user.name%></h2>
        <p class="card-text">Some Text</p>
      </div>
    </div>
  </div>
  <div class="col-9"></div>
</div>
