<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
/>
<link rel="stylesheet" href="/css/profile.css" />

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <ul>
    <li class="left"><a href="/dashboard">Home</a></li>
    <li class="left"><a href="/users/editProfile">Profile</a></li>
    <li class="left"><a href="/users/matches">Match-Made</a></li>
    <li class="right"><a href="/users/logout">Logout</a></li>
  </ul>
</nav>

<section class="sec-1 row">
  <%- include('./partials/sideBar.ejs'); %>
  <div class="col-9 bg-light pl-0">
    <div class="jumbotron p-3 mb-0">
      <h1 class="display-2">Matches You Have Selected</h1>
    </div>
    <div class="match-container">
      <% for(var matchuser of matches){%>
      <%if(user.matches.includes(matchuser._id)) { %> <%-
      include('./partials/personCard.ejs',{matchuser,flag:user.matches.includes(matchuser._id),
      flag2:false}); %> <%}%><%}%>
    </div>
    <div class="jumbotron p-3 mb-0">
      <h1 class="display-2">Matches Confirmed</h1>
    </div>
    <div class="match-container">
      <% for(var matchuser of matches){%>
      <%if(user.matches.includes(matchuser._id)&&matchuser.matches.includes(user._id))
      { %> <%-
      include('./partials/personCard.ejs',{matchuser,flag:user.matches.includes(matchuser._id),
      flag2:user.matches.includes(matchuser._id)&&matchuser.matches.includes(user._id)});
      %> <% } %> <% } %>
    </div>
  </div>
</section>
